.app {
    .top {
        height: 35px;
        line-height: 1.5;
        font-weight: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        border-top: 1px solid black;
        padding: 0px 25px;
        background-color: "[theme:themePrimary, default:#0078d7]";
    }
    .top a {
        padding: 0px 10px;
    }
    .bottom {
        height: 35px;
        line-height: 1.5;
        font-weight: normal;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #2b2b2b;
        border-top: 1px solid black;
        padding: 0px 25px;
    }
    a {
        color: white;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}